<ion-content>
    <ion-row class="top-input-container">
        <span class="placeholder">Artikesuche: </span>
        <ion-input type="text" [(ngModel)]="articleFilter"></ion-input>
    </ion-row>

    <ion-grid class="main-container">
        <ion-row class="sub-container">
            <ion-col col-6>
                <div class="product-table-container">
                    <ion-row class="table-header">
                        <ion-col col-4>
                            <span>ARTIKELNUMMER</span>
                        </ion-col>

                        <ion-col col-6>
                            <span>ARTIKELNAME</span>
                        </ion-col>
                    </ion-row>

                    <ion-row class="table-row" *ngFor="let article of articles; let i = index" (click)="onSelectArticle(i, $event.target)">
                        <ion-col col-4>
                            {{article.articleID}}
                        </ion-col>

                        <ion-col col-6>
                            {{article.articleName}}
                        </ion-col>
                    </ion-row>
                </div>

                <ion-row>
                    <div (click)="popupModal()" class="modal-button"></div>
                </ion-row>

                <div class="product-table-container">
                    <ion-row class="table-header">
                        <ion-col col-3>
                            <span>ARTIKELNR.</span>
                        </ion-col>

                        <ion-col col-3>
                            <span>BESTELLTE</span>
                        </ion-col>

                        <ion-col col-6>
                            <span>ARTIKELNAME</span>
                        </ion-col>
                    </ion-row>

                    <ion-row class="table-row" *ngFor="let order of orders; let i = index" (click)="onSelectOrder(i, $event.target)">
                        <ion-col col-4>
                            great
                        </ion-col>

                        <ion-col col-6>
                            thanks
                        </ion-col>

                        <ion-col col-2>
                            mmm
                        </ion-col>
                    </ion-row>
                </div>

                <ion-row class="bottom-btn-container">
                    <ion-col col-8>
                        <button ion-button full class="complete-btn" (click)="onOrderAddAllSuggestionArticles()">KOMPLETTE RECHNUNG ODER VORSCHLAG</button>
                    </ion-col>

                    <ion-col col-4>
                        <button ion-button full class="goods-btn" (click)="onOrderAddSuggestionArticle()">ZUM WARENKORB</button>
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col col-1>
                <span class="art-span">Art.-Nr. 110008</span>
            </ion-col>

            <ion-col col-4>
                <ion-row>
                    <img class="img-responsive" [src]="img_url" (click)="onOrderArticleImage()" />
                </ion-row>

                <ion-row class="infor-btn-container">
                    <button ion-button full (click)="onOrderShowInfo()">INFODETAILS ARTIKEL</button>
                </ion-row>

                <ion-row class="amount-container">
                    <ion-col col-4>
                        <ion-label>Menge VPE</ion-label>
                    </ion-col>

                    <ion-col col-4>
                        <ion-input placeholder="---" type="text" [(ngModel)]="qty_1"></ion-input>
                    </ion-col>

                    <ion-col class="amount-btn-container" col-2>
                        <div class="min-btn" (click)="onOrderVPESub()"></div>
                        <div class="plus-btn" (click)="onOrderVPEAdd()"></div>
                    </ion-col>
                </ion-row>

                <ion-row class="amount-container">
                    <ion-col col-4>
                        <ion-label>Menge VPE</ion-label>
                    </ion-col>

                    <ion-col col-4>
                        <ion-input placeholder="---" type="text" [(ngModel)]="qty_1"></ion-input>
                    </ion-col>

                    <ion-col class="amount-btn-container" col-2>
                        <div class="min-btn" (click)="onOrderPALSub()"></div>
                        <div class="plus-btn" (click)="onOrderPALAdd()"></div>
                    </ion-col>
                </ion-row>

                <ion-row class="add-btn-container">
                    <button ion-button full (click)="onOrderAddToCart()">HINZUFUGEN</button>
                </ion-row>
            </ion-col>

            <ion-col col-1>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>